$theme-colors: (
    "danger": #ee6352,
    "success": #59cd90,
    "primary": #3fa7d6,
    "warning": #fac05e,
    "secondary": #f79d84
);
$display-font-sizes: (
    0: 10rem,
);
$font-family-sans-serif: (
    "Open Sans", sans-serif
);
.badgeParagraph {
    line-height: 1.6;
}
.topContainer{
    min-height:100vh;
}
@import "~bootstrap/scss/bootstrap";