$theme-colors: (
    "danger": #f72585,
    "success": #4cc9f0,
    "primary": #7209b7,
    "warning": #4361ee,
    "secondary": #3a0ca3
);
$display-font-sizes: (
    0: 10rem,
    7: 1.5rem,
);
$font-family-sans-serif: (
    "Open Sans", sans-serif
);
.nav-link.active {
    color: white!important;
    background-color: #4cc9f0!important;
}
.btn-danger {
    color:white!important;
}
.nav-link {
    color: #4cc9f0!important;
}
.badgeParagraph {
    line-height: 1.6;
}
.topContainer {
    min-height:100vh;
}
@import "~bootstrap/scss/bootstrap";